# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
.vite/
*.timestamp-*.mjs
*.tsbuildinfo

# Env
.env
*.local

# Media & static
media/
staticfiles/

# IDE
.idea/
.vscode/
.DS_Store
